@import 'reset';
@import 'mixins';
@import 'utils';
@import 'typography';

$icon-font-path: '../fonts/';

// bower:scss
// endbower

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.nav-main {
  height: 55px;
  background-color: white;
  width: 100%;
  top: 0;
  padding: 1.3em;
  /* flex here too */
}


.project-image {
  height: 100%;
  width: 100%;
  position: relative;
  transition:all 0.5s;
  background-blend-mode: multiply;

  @include imgPaths(false);

}
.project-info {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all .3s ease-out;

  img {
    transition: all .5s ease-out;
    transform: translateY(-20px);
  }

  .project-line {
    border: 1px solid white;
    width: 0px;
    height: 2px;
    display: block;
    margin: 23px 0;
    transition: all .35s ease-out;
    transition-delay: .15s;
  }

  .project-name {
    font-size: 24px;
    transition: all .4s;
    font-weight: bold;
    margin-bottom: .3em;
    transform: translateY(20px);
    transition: all .5s ease-out;
  }
  .project-desc {
    font-size: 12px;
    transform: translateY(20px);
    transition: all .5s ease-out;
    transition-delay: 0.1s;
  }
}

.item {
  width: 75vw;
  height: 75vw;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition:all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;

  &:hover {
    .project-image {
      transform: scale(1.1);
      @include imgPaths(true);
    }
    .project-line { width: 27px; }
    .project-info { opacity: 1;}
    .project-name {
      transform: translateY(0px);
    }
    .project-desc {
      transform: translateY(0px);
    }
    img { transform: translateY(0px); }
  }
}

.wrapper {
  img {
    width: 100%; /* default size */
    &.no-scale { width: auto; }
  }
}
footer { text-align: center; }



.uspa {
  display: block;
  background: url("../images/logo-uspa.png");
}

@media all and (min-width: 480px) {
  .item {
    width: 75vw;
    height: 75vw;
  }
}

@media all and (min-width: 600px) {
  .item {
    width: 45vw;
    height: 45vw;
  }
}

@media all and (min-width: 768px) {
  .item {
    width: 30vw;
    height: 30vw;
  }
}

@media all and (min-width: 1024px) {
  .item {
    width: 21vw;
    height: 21vw;
  }
}

.content-uspa {
  .wireframes {
    position: relative;
    .content {
      position: absolute;
      top: 0px;
      width: 100%;
      img {
        position: absolute;
        width: 65%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      img:nth-child(1) { transition: all 1s .75s; top: 180px; }
      img:nth-child(2) { transition: all 1s .5s; top: 150px; }
      img:nth-child(3) { transition: all 1s .25s; top: 120px; }
    }
    &.triggered img {
      &:nth-child(1) { top: 80px; }
      &:nth-child(2) { top: 50px; }
      &:nth-child(3) { top: 20px; }
    }
  }
  .ui {
    background-color: #16284c;
    color: #808080;
    .elements img { width: auto; }
  }
}
