$font-color-muted: #808080;

.section-heading, h4 {
  font-size: 1.875rem;
}
.section-subheading, h5 {
  font-size: .9375rem;
  font-weight: bold;
  margin-bottom: .875rem;
}
h6 {
  font-size: .9375rem;
  color: $font-color-muted;
}
.section-text, p {
  font-size: .875rem;
  color: $font-color-muted;
  text-transform: uppercase;
}

.white { color: white; }
